{% from "helper.html" import render_field %}
{% extends "base.html" %}

{% block body %}
<h1 class="text-center">{{ config['SITE_TITLE'] }} Login</h1>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">

    <div id="info">
      <div id="message"></div>
    </div>

    <form role="form" action="{{ url_for('.login') }}" method="post">
      {{ form.hidden_tag() }}

      {{ render_field(form.username, class="form-control") }}
      {{ render_field(form.password, class="form-control") }}

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="col-md-4"></div>
</div>
{% endblock %}
