{% from "helper.html" import render_field %}
{% extends 'base.html' %}
{% set title=machine.alias or machine.hostname %}

{% block content %}
  {% if machine %}
    <div class="container row-fluid">
      <h2>{{ machine.alias or machine.hostname }}
        <small>
          {% if current_user.is_authenticated %}
            <a href="{{ url_for('.add_machine', id=machine.id) }}" class="btn"
               title="Edit machine details">
               <i class="fas fa-edit"></i>
            </a>
          {% endif %}
          <a href="{{ url_for('.sys_access', id=machine.id) }}" class="btn"
             title="Get sysaccess file">
             <i class="fas fa-file-alt"></i>
          </a>
        </small>
      </h2>

      <div class="row">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th scope="row">Hostname</th>
              <td>{{ machine.hostname }}</td>
            </tr>
            <tr>
              <th scope="row">IP Address</th>
              <td>{{ machine.address }}</td>
            </tr>
            <tr>
              <th scope="row">Alias</th>
              <td>{{ machine.alias }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="text-center">
        <a class="btn btn-outline-secondary" data-toggle="collapse"
           href="#MachineDetails" role="button" aria-expanded="false" aria-controls="MachineDetails">
           Details
        </a>
      </p>
      <div class="collapse" id="MachineDetails">
        <div class="card card-body">
          <div class="row">
            <div class="col-sm-6">
              <dl>
                {% if machine.sys_user %}
                  <dt>Login User</dt>
                <dd>{{ machine.sys_user }}</dd>
              {% endif %}

              {% if machine.sys_passwd %}
                <dt>Login Password</dt>
                <dd>{{ machine.sys_passwd }}</dd>
              {% endif %}

              {% if machine.console_type %}
                <dt>Console Type</dt>
                <dd>{{ machine.console_type }}</dd>
              {% endif %}

              {% if machine.console_sys %}
                <dt>Console system</dt>
                <dd>{{ machine.console_sys }}</dd>
              {% endif %}

              {% if machine.console_user %}
                <dt>Cosole user</dt>
                <dd>{{ machine.console_user }}</dd>
              {% endif %}

              {% if machine.console_passwd %}
                <dt>Console password</dt>
                <dd>{{ machine.console_passwd }}</dd>
              {% endif %}

              {% if machine.console_ipmi_user %}
                <dt>IPMI user</dt>
                <dd>{{ machine.console_ipmi_user }}</dd>
              {% endif %}

              {% if machine.console_ipmi_passwd %}
                <dt>IPMI password</dt>
                <dd>{{ machine.console_ipmi_passwd }}</dd>
              {% endif %}

              {% if machine.machine %}
                <dt>Machine name</dt>
                <dd>{{ machine.machine }}</dd>
              {% endif %}

              {% if machine.pname %}
                <dt>Logical partition name</dt>
                <dd>{{ machine.pname }}</dd>
              {% endif %}

              {% if machine.tport %}
                <dt>Telnet Port</dt>
                <dd>{{ machine.tport }}</dd>
              {% endif %}

              {% if machine.line %}
                <dt>Line</dt>
                <dd>{{ machine.line }}</dd>
              {% endif %}
              </dl>
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <!-- Reservation details -->
      <div class="row">
        <div class="col-sm-8">
          <span>  {# if reserved, show remaining, else say free #}
            {% if machine.reservation | length > 0 %}
            <blockquote class="blockquote">
                <p class="mb-0"> {{ machine.reservation[0].message }} </p>
              </blockquote>
            {% endif %}
          </span>
        </div>
        <div class="col-sm-4">
          {# if machine is reserved, show release or who is using it #}
          {% if machine.reservation|length > 0 %}
            {% if current_user.is_authenticated and machine.reservation[0] in current_user.reservations %}
              <div class="float-right">
                <a href="{{ url_for('.release', id=machine.id) }}"
                   role="button" class="btn btn-danger">
                   Release
                </a>

                <button type="button" class="btn btn-primary"
                        data-toggle="modal" data-target="#ReserveModal">
                        Extend
                </button>
              </div>
            {% else %}
              <p class="float-right">
                Machine is currently used by
                <a href="{{ url_for('.profile', id=machine.reservation[0].id) }}">
                  <span class="badge badge-light">@{{ machine.reservation[0].user.username }}</span>
                </a>
              </p>
            {% endif %}
          {% else %} {# machine is free #}
            {% if current_user.is_authenticated %}
              <button type="button" class="btn btn-primary float-right"
                      data-toggle="modal" data-target="#ReserveModal">
                      Reserve
              </button>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
      {% if machine.reservation | length > 0 %}
        {% if machine.reservation[0].end_date %}
          <div class="alert alert-light" role="alert">
            Reserved till {{ machine.reservation[0].end_date | humanize }}
          </div>
        {% else %}
          <div class="alert alert-warning" role="alert">
            Reserved forever
          </div>
        {% endif %}
      {% endif %}
      </div>
    </div>


    <!-- reservation modal with form -->
    <div class="modal fade" id="ReserveModal" tabindex="-1" role="dialog" aria-labelledby="ReserveModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ReserveModalLabel">Reserve {{ machine.alias }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form role="form" action="{{ url_for('.machine', id=machine.id) }}" method="post">
              {{ render_field(form.message, class="form-control") }}
              {{ render_field(form.duration, class="form-control") }}
              <div class="form-group form-check">
                {{ form.forever(class="form-check-input") }}
                {{ form.forever.label }}
              </div>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Reserve</button>
          </div>
          <div class="modal-footer">
            <p>
              <small>Please state a reason if you want to reserve indefinitely</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
